/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Young+Serif&display=swap');

.container{
background-color: white;
  max-width: 1440px;
font-family: var(--font-family);
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  
}
.btn{
  font-family: var(--font-family);
  padding: 10px;
  background-color: #66D2CF;
  color: white;
  border: none;
  border-radius: 5px;
}
:root {
  --font-family: "Fraunces 9pt", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Fraunces", sans-serif;
}
.header{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 100px;
}
.header_logo{
display: -webkit-box;
display: -ms-flexbox;
}
.header_logo h1{
  color: black;
font-family: var(--font-family);
}
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav li{
  list-style: none;
}
.nav a{
  text-decoration: none;
  color: #83888F;
}
.hero{
  width: 100%;
  height: 500px;
background-image: url("./images/cofe\ img.svg");
background-position: center;
color: white;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: left;
  -ms-flex-pack: left;
      justify-content: left;
-webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
padding: 0 50px;
}
.hero_header{
  width: 450px;
  height: 250px;
}
.hero_header h2{
  font-size: 55px;
}
.hero_header p{
  font-size: 16px;
  padding-bottom: 20px;
}
.collection{
  width: 100%;
  height: 500px;
  padding: 0 30px;
  padding-top: 100px;
}
.flavor_wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  gap: 15px;
}
.collection_flavor{
text-align: center;
padding: 0 10px;
}
.choose{
  width: 100%;
  color: white;
padding: 0 30px;
  height: 700px;
}
.choose_header{
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
border-radius: 10px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
/* justify-content: center; */
height: 500px;
position: relative;
margin-bottom: 50px;
background-color: #2C343E;
}
.choose_header_h{
width: 500px;
margin-top: 150px;
text-align: center;
}
.choose_header_h h2{
font-size: 30px;
margin-bottom: 20px;
}
.card_wrapper{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 330px;
gap: 50px;
position: absolute;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.choose_card{
text-align: center;
padding: 0 10px;
padding-top: 40px;
width: 300px;
border-radius: 10px;
background-color: #0E8784;
height: 300px;
}
.choose_card img{
margin-bottom: 5px;
}
.choose_card h2{
font-size: 27px;
margin-bottom: 10px;
}
.works{
width: 100%;
height: 500px;
}
.works_header{
margin-bottom: 100px;
}
.works_wrapper{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.works_box{
width: 250px;
height: 300px;
}
.work_number{
color: #FDD6BA;
font-size: 45px;
}
.box_header{
font-size: 40px;
color: black;
margin-bottom: 30px;
}
.footer{
width: 100%;
height: 100px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
-webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
padding: 0 50px;
background-color: #2C343E;
color: white;
}
.footer ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
gap: 30px;
margin-right: 250px;

}
.footer ul li{
list-style: none;
}
.footer ul li a{
text-decoration: none;
color: white;
}
.programs_logo img{
margin-right: 20px;
}